<br/>
<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">
			
            <p>&copy 2020 {{site.title | escape }} </p>

              <p>{{ site.affiliation }}</p>

		   <p>  </p><p>
            		  
		</div>

		<div class="col-sm-4">
            <p>{{ site.contact }}</p>
		</div>


		<div class="col-sm-4">
            <p>{{ site.location }}</p>
		</div>

	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
