<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">
			
            <p>&copy 2020 {{site.title | escape }} </p>

              <p>We are part of the School of Computing at the <a href="websitehere.com">Georgia Institute of Technology</a>.</p>

		   <p>  </p><p>
            		  
		</div>
		<div class="col-sm-4">
            Another column here
		</div>
		<div class="col-sm-4">
		  Contact:<br />
		  Building here, Georgia Tech<br />
		  Add1 here<br />
		  Add1 here<br />
		  Add1 here<br />
            (<a href="https://goo.gl/maps/H2RjutkyoUH2">Maps</a>, <a href="http://www.physics.leidenuniv.nl/travel-directions">Directions</a>)
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
