
<div class="well">
<h4>News</h4>

  {% for article in site.data.news limit:4 %}
  {{ article.date }}
    <p>{{ article.headline }}</p>
  {% endfor %}
  
  <h4><a href="{{ site.url }}{{ site.baseurl }}/allnews.html">... see all News</a></h4>

</div>

<div class="well">
<h4>Events</h4>

  {% for article in site.data.events limit:5 %}
  {{ article.date }}
    <p>{{ article.headline }}</p>
  {% endfor %}

</div>


<div class="well">
<h4>Funding</h4>

  <style>
   .mycenter {
      display: block;
      margin-left: auto;
      margin-right: auto;
   }
  </style>

  {% for funder in site.data.funders %}<img src='/images/logopic/{{ funder.image }}' class='mycenter' style='max-height: 70px; max-width: 200px;'/>{% endfor %}

</div>
