<div class="well">
<h4>{{ site.name }}</h4>

{% for member in site.data.pi %}
<div class="row">
  <a href="{{site.url}}{{site.baseurl}}/about"><img src="{{ site.url }}{{ site.baseurl }}/images/teampic/{{ member.photo }}" class="img-responsive" width="60%" style="block:inline; margin-left:auto; margin-right:auto;" /></a>
  <center><h4>{{ member.name }}</h4>

   {% if member.website %}<a href="{{ member.website }}" target="_blank"><i class="fa fa-home fa-2x"></i></a> {% endif %}
   {% if member.email %}<a href="mailto:{{ member.email }}" target="_blank"><i class="fa fa-envelope-square fa-2x"></i></a> {% endif %}
   {% if member.scholar %} <a href="{{ member.scholar }}" target="_blank"><i class="ai ai-google-scholar-square ai-2x"></i></a> {% endif %}
   {% if member.cv %} <a href="{{ member.cv }}" target="_blank"><i class="ai ai-cv-square ai-2x"></i></a> {% endif %}
   {% if member.github %} <a href="{{ member.github }}" target="_blank"><i class="fa fa-github-square fa-2x"></i></a> {% endif %}
   {% if member.researchgate %} <a href="{{ member.researchgate }}" target="_blank"><i class="ai ai-researchgate-square ai-2x"></i></a> {% endif %}
  </center>
  <ul style="overflow: hidden">
  {% if member.number_educ == 1 %}
  <li> {{ member.education1short }} </li>
  {% endif %}

  {% if member.number_educ == 2 %}
  <li> {{ member.education1short }} </li>
  <li> {{ member.education2short }} </li>
  {% endif %}

  {% if member.number_educ == 3 %}
  <li> {{ member.education1short }} </li>
  <li> {{ member.education2short }} </li>
  <li> {{ member.education3short }} </li>
  {% endif %}

  {% if member.number_educ == 4 %}
  <li> {{ member.education1short }} </li>
  <li> {{ member.education2short }} </li>
  <li> {{ member.education3short }} </li>
  <li> {{ member.education4short }} </li>
  {% endif %}

  {% if member.number_educ == 5 %}
  <li> {{ member.education1short }} </li>
  <li> {{ member.education2short }} </li>
  <li> {{ member.education3short }} </li>
  <li> {{ member.education4short }} </li>
  <li> {{ member.education5short }} </li>
  {% endif %}

  {% if member.number_educ == 6 %}
  <li> {{ member.education1short }} </li>
  <li> {{ member.education2short }} </li>
  <li> {{ member.education3short }} </li>
  <li> {{ member.education4short }} </li>
  <!-- <li> {{ member.education5short }} </li> -->
  <li> {{ member.education6short }} </li>
  {% endif %}
  </ul>
</div>

{% endfor %}
</div>

<div class="well">
<h4>News</h4>

  {% for article in site.data.news limit:4 %}
  {{ article.date }}
    <p>{{ article.headline }}</p>
  {% endfor %}
  
  <h4><a href="{{ site.url }}{{ site.baseurl }}/allnews.html">... see all News</a></h4>

</div>

<div class="well">
<h4>Upcoming Events</h4>
  {% for article in site.data.events limit:5 %}
  <b>{{ article.date }}</b>
    <p>{{ article.headline }}<br/>
    <i>{{ article.location }}</i></p>
  {% endfor %}
</div>

<!-- <div class="well"> -->
<!-- <h4>Funding</h4> -->
<!--   <style> -->
<!--    .mycenter { -->
<!--       display: block; -->
<!--       margin-left: auto; -->
<!--       margin-right: auto; -->
<!--    } -->
<!--   </style> -->
<!--  {% for funder in site.data.funders %} -->
<!--  {% if funder.url %} --> 
<!--   <a href="{{funder.url}}" target="_blank"><img src='/images/logopic/{{ funder.image }}' class='mycenter' style='max-height: 70px; max-width: 200px;'/></a> -->
<!--  {% else %} -->
<!--   <img src='/images/logopic/{{ funder.image }}' class='mycenter' style='max-height: 70px; max-width: 200px;'/> -->
<!--  {% endif %} --> 
<!--  {% endfor %} -->
<!-- </div> -->

