img { 
    border-radius:5%;
}


.jumbotron {
    padding:20px; 
    padding-bottom:7px; 
    margin-top:22px; 
    margin-bottom:22px;
}

.navbar {
  margin-bottom: 20px;
}

.btn {
    margin-top: 5px;
    margin-bottom: 5px;
}

.container-fluid {
  max-width: 800px;
}

.container-footer {
  margin-right: auto;
  margin-left: auto;
  max-width: 800px;
  padding-left:  20px;
  padding-right: 20px;
}

.well-collapse {
  padding-left:  20px;
  padding-right: 20px;
  padding-top:   12px;
  padding-bottom: 4px;
  border-radius:  7px;
  min-height:     1px;
  margin-top:    15px;
  color: black;
  background-color: var(--gray);
  border: 2px solid var(--gray-dark);
  blockquote {
    border-color: var(--gray-dark);
    border-color: rgba(0,0,0,.15);
  }
}
